
body {
    font-family: 'Courier New', monospace;
    color: #2a2735;
    font-weight: 800;
}
.setbg {
    /*background-image: url("seattlecity.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;*/
       background-image: url("bg.jpg");
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.fakeimg {
    height: 200px;
    background: #aaa;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
}

p{
color:rgb(53, 92, 102);
}
/*this p element is pointing to my zitong.html*/

p.fristp{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: x-large;color:green;
}

#Washington {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tablecell{
width: 25%;
}