p{

color:green;

}
p.fristp{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: x-large;
}

#Washington {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tablecell{
width: 25%;
}